<div class="container">
  <div class="row">
    <app-header class="col-12"></app-header>
  </div>
  <div class="row">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="row">
    <app-nickname class="col-md-4"></app-nickname>
    <app-chat-history
      class="col-md-8"
      [history]="messageHistory"
    ></app-chat-history>
  </div>
  <div class="row justify-content-end">
    <app-chat-bar
      (submitMessage)="onSubmitMessage($event)"
      class="col-md-8"
    ></app-chat-bar>
  </div>
  <div class="row">
    <app-footer class="col-12"></app-footer>
  </div>
</div>
